@import "tailwindcss";

:root {
  --primary: #ff4646;
  --secondary: #071a52;
  --light-blue: #5779a4;
  --background: #ffffff;
  --foreground: #171717;
  --font-open-sans: 'Open Sans', sans-serif;
}
/*
@utility container {
  @variant xl {
    max-width: 90rem;
  }
  @variant @2xl {
    max-width: 1180px;
  }
  @variant @4xl {
    max-width: 1280px;
  }
}
*/
@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light-blue: var(--light-blue);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a;*/
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans);
}